:root {
	--font-family-sans-serif: Inter, Helvetica, Arial, sans-serif;
}
body{
	grid-template-columns: 10% 30% 20% 30% 10%;
	grid-template-rows: auto auto auto auto auto ;
}
nav{
	background: rgb(141, 141, 141);
	height: 50px;
	grid-column: 1/6;
	grid-row: 1/2;
}
header{
	background: rgb(212, 212, 212);
	height: 100px;
	grid-column: 1/6;
	grid-row: 2/3;
}
.principal{
	background: rgb(228, 228, 228);
	height: 300px;
	grid-column: 1/6;
	grid-row: 3/4;
	border-top-color: rgb(97, 97, 97);
}
.prog{
	background: rgb(141, 141, 141);
	grid-column: 1/6;
	grid-row: 4/5;
}