body{
	font-family: 'Roboto';
}
nav{
	background: rgb(214, 214, 214);
	height: 50px;
}
header{
	background: rgb(246, 246, 246);
	height: 100px;
}
.principal{
	background: rgb(246, 246, 246);
	height: 300px;
	border: 1px solid rgb(214, 214, 214);
}
.prog{
	display: grid;
	background: rgb(214, 214, 214);
	grid-template-columns: 10% 80% 10%;
}
h1{
	font-weight: 400;
	font-size: 20px;
	color:rgb(30, 130, 197);	
}
h3{
	color: rgb(96, 96, 96);
	font-weight: 400;
	font-size: 17px;
	padding-top: 24px;
	padding-bottom: 24px;
}
p{
	color: rgb(96, 96, 96);
	font-size: 14px;
	line-height: 20px;
}
.articulos{
	grid-column: 2/3;                                                                                                
	display: flex;
	padding-bottom: 24px;
}
article{
	padding-left: 28px;
	padding-right: 28px;
	text-align: center
}
.titulo{
	
	grid-column: 2/3; 
	text-align: center
}
@media (max-width: 640px) {
	.prog{
		display: inline-block;
		background: rgb(214, 214, 214);
	}
	.articulos{                                                                                             
		display: block;
		padding-right: 35px;
		padding-left: 35px;
		padding-bottom: 24px;
	}
}
@media (max-width: 400px) {
	.prog{
		display: inline-block;
		background: rgb(214, 214, 214);
	}
	.articulos{                                                                                             
		display: block;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 24px;
	}
}